<section
  id="about"
  style="padding: 0px; background-color: #112240; color: white"
>
  <div>
    <p class="mb-4">
      I’m a developer passionate about creating scalable, high-performance
      backend systems and crafting full-stack applications with robust
      engineering. My focus lies in building backend services using Java and the
      Spring ecosystem, while still maintaining a solid understanding of
      frontend technologies to deliver seamless user experiences.
    </p>
    <p class="mb-4">
      Currently, I'm working towards becoming a Full-Stack Developer at
      <a
        class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
        href="https://www.klaviyo.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Klaviyo (opens in a new tab)"
        >LEAPVN</a
      >, with a strong emphasis on backend development. I enjoy exploring the
      capabilities of the Spring framework and its ecosystem to design and
      maintain efficient, secure, and scalable applications.
    </p>
    <p class="mb-4">
      In the past, I worked as a Junior Full-Stack Developer at LEAPVN, where I
      gained hands-on experience in building and maintaining web applications
      across the stack. Additionally, I have experience as an AI Engineer, where
      I developed applications involving artificial intelligence and built
      several personal side projects, including a news web application.
    </p>
    <p>
      In my spare time, I dedicate myself to learning new technologies, hanging
      out with friends, and constantly improving my skills to stay updated in
      this ever-evolving field of software development.
    </p>
  </div>
</section>
