<footer style="padding: 16px; color: white; text-align: center">
  <p style="margin: 0">&copy; Thanh Pham. All rights reserved.</p>
  <div
    style="margin-top: 8px; display: flex; justify-content: center; gap: 16px"
  >
    <a
      href="https://www.linkedin.com/in/thanh-pham-bb9022139/"
      style="color: white; text-decoration: none"
      >LinkedIn</a
    >
    <a
      href="https://github.com/thanh-pham2k"
      style="color: white; text-decoration: none"
      >GitHub</a
    >
    <a
      href="https://www.facebook.com/igotban/"
      style="color: white; text-decoration: none"
      >Facebook</a
    >
  </div>
</footer>
