.project-list {
  color: #94a3b8;
  padding-left: 0px;
  .project {
    margin-bottom: 48px;
    list-style: none;

    &__container {
      display: grid;
      gap: 16px;
      padding-bottom: 4px;
      position: relative;
      transition: all 0.3s ease-in-out;
      grid-template-columns: repeat(8, 1fr);

      &:hover {
        opacity: 1;
      }
    }

    &__background {
      position: absolute;
      inset: -16px;
      z-index: 0;
      background-color: rgba(15, 23, 42, 0.5);
      border-radius: 8px;
      display: none;
      transition: all 0.3s ease;
    }

    &__details {
      z-index: 10;
      order: 2;
      grid-column: span 6;

      &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 8px;

        &__link {
          color: #e2e8f0;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover,
          &:focus {
            color: #14b8a6;
          }
        }
      }

      &__description {
        margin-top: 8px;
        font-size: 14px;
        color: #94a3b8;
        line-height: 1.6;
      }
    }

    &__image {
      width: 100px;
      border: 2px solid rgba(148, 163, 184, 0.1);
      border-radius: 8px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      transition: border 0.3s ease;
      grid-column: span 2;

      &:hover {
        border-color: rgba(148, 163, 184, 0.3);
      }
    }

    &__icon {
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-left: 4px;
      transform: translateY(1px);
      transition: transform 0.3s ease;

      .project__link:hover &,
      .project__link:focus & {
        transform: translate(-1px, -1px);
      }
    }
  }
}
