.experience-item {
  margin-bottom: 48px;
  list-style: none;

  &__container {
    position: relative;
    display: grid;
    padding-bottom: 4px;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    transition: all 0.3s;
  }

  &__background {
    position: absolute;
    inset: -16px;
    z-index: 0;
    border-radius: 8px;
    background-color: rgba(15, 23, 42, 0.5);
    display: none;
    transition: all 0.3s;
  }

  &__timeline {
    z-index: 10;
    margin: 0px 0 8px;
    margin-top: 8px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #64748b;
    grid-column: span 2;
  }

  &__details {
    z-index: 10;
    grid-column: span 6;
  }

  &__title {
    font-weight: 500;
    line-height: 1.5;
    color: #e2e8f0;
    margin-bottom: 8px;
    margin-top: 0px;

    a {
      display: inline-flex;
      align-items: baseline;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      color: #e2e8f0;
      transition: color 0.3s;

      &:hover {
        color: #14b8a6;
      }
    }
  }

  &__company {
    display: inline-block;
    color: #14b8a6;
    margin-left: 4px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    transform: translateY(1px);
  }

  &__description {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.6;
    color: #94a3b8;
  }

  &__technologies {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    li {
      margin-right: 6px;
      margin-top: 8px;
      padding: 4px 12px;
      font-size: 10px;
      font-weight: 500;
      color: #14b8a6;
      background-color: rgba(20, 184, 166, 0.1);
      border-radius: 16px;
    }
  }
}

.resume-link {
  margin-top: 48px;

  &__anchor {
    display: inline-flex;
    align-items: baseline;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #e2e8f0;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: #14b8a6;
    }
  }

  &__text {
    display: inline-block;
    margin-left: 4px;
  }

  &__icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    transform: translateY(1px);
    transition: transform 0.3s ease;

    .resume-link__anchor:hover &,
    .resume-link__anchor:focus & {
      transform: translate(-1px, -1px);
    }
  }
}
